server:
  directory: "{{ unbound_directory }}"
  chroot: "{{ unbound_config_chroot }}"
{% for i in unbound_config_interface %}
  interface: {{ i }}
{% endfor %}
{% for acl in unbound_config_access_control %}
  access-control: {{ acl }}
{% endfor %}
{% for addr in unbound_config_private_address %}
  private-address: {{ addr }}
{% endfor %}
{% for domain in unbound_config_private_domain %}
  private-domain: "{{ domain }}"
{% endfor %}
{% for l in unbound_config_server_extra %}
  {{ l }}
{% endfor %}

remote-control:
  control-enable: {{ unbound_config_remote_control_control_enable }}
{% if unbound_version | version_compare('1.5.2', '<') %}
{# unbound older than 1.5.2 does not have control-use-cert #}
{% else %}
  control-use-cert: {{ unbound_config_remote_control_control_use_cert }}
{% endif %}
{% if unbound_config_remote_control_control_interface %}
  control-interface: {{ unbound_config_remote_control_control_interface }}
{% endif %}
{% if unbound_config_server_key_file %}
  server-key-file: {{ unbound_config_server_key_file }}
{% endif %}
{% if unbound_config_server_cert_file %}
  server-cert-file: {{ unbound_config_server_cert_file }}
{% endif %}
{% if unbound_config_control_key_file %}
  control-key-file: {{ unbound_config_control_key_file }}
{% endif %}
{% if unbound_config_control_cert_file %}
  control-cert-file: {{ unbound_config_control_cert_file }}
{% endif %}
{% for l in unbound_config_remote_control_extra %}
  {{ l }}
{% endfor %}

{% for zone in unbound_forward_zone %}
forward-zone:
  name: "{{ zone.name }}"
{% for addr in zone.forward_addr %}
  forward-addr: {{ addr }}
{% endfor %}
{% endfor %}

{% for zone in unbound_stub_zone %}
stub-zone:
  name: "{{ zone.name }}"
{% for addr in zone.stub_addr %}
  stub-addr: {{ addr }}
{% endfor %}
{% endfor %}
