server:
  directory: "{{ unbound_directory }}"
{% if unbound_config_chroot and unbound_config_chroot != '' %}
  chroot: "{{ unbound_config_chroot }}"
{% endif %}
{% for i in unbound_config_interface %}
  interface: {{ i }}
{% endfor %}
{% if unbound_config_outgoing_interface %}
  outgoing-interface: {{ unbound_config_outgoing_interface }}
{% endif %}
{% if unbound_config_do_not_query_localhost %}
  do-not-query-localhost: {{ unbound_config_do_not_query_localhost }}
{% endif %}

  do-ip4: {{ unbound_config_do_ip4 }}
  do-ip6: {{ unbound_config_do_ip6 }}

{% for acl in unbound_config_access_control %}
  access-control: {{ acl }}
{% endfor %}

  hide-identity: {{ unbound_config_hide_identity }}
  hide-version: {{ unbound_config_hide_version }}
  use-syslog: {{ unbound_config_use_syslog }}

{% for addr in unbound_config_private_address %}
  private-address: {{ addr }}
{% endfor %}
{% for domain in unbound_config_private_domain %}
  private-domain: "{{ domain }}"
{% endfor %}

  # Uncomment to enable qname minimisation.
  # https://tools.ietf.org/html/draft-ietf-dnsop-qname-minimisation-08
  #
  # qname-minimisation: yes

remote-control:
  control-enable: {{ unbound_config_remote_control_control_enable }}
{% if unbound_version | version_compare('1.5.2', '<') %}
{# unbound older than 1.5.2 does not have control-use-cert #}
{% else %}
  control-use-cert: {{ unbound_config_remote_control_control_use_cert }}
{% endif %}
{% if unbound_config_remote_control_control_interface %}
  control-interface: {{ unbound_config_remote_control_control_interface }}
{% endif %}
{% if unbound_config_server_key_file %}
  server-key-file: {{ unbound_config_server_key_file }}
{% endif %}
{% if unbound_config_server_cert_file %}
  server-cert-file: {{ unbound_config_server_cert_file }}
{% endif %}
{% if unbound_config_control_key_file %}
  control-key-file: {{ unbound_config_control_key_file }}
{% endif %}
{% if unbound_config_control_cert_file %}
  control-cert-file: {{ unbound_config_control_cert_file }}
{% endif %}

{% for zone in unbound_forward_zone %}
forward-zone:
  name: "{{ zone.name }}"
{% for addr in zone.forward_addr %}
  forward-addr: {{ addr }}
{% endfor %}
{% endfor %}

{% for zone in unbound_stub_zone %}
stub-zone:
  name: "{{ zone.name }}"
{% for addr in zone.stub_addr %}
  stub-addr: {{ addr }}
{% endfor %}
{% endfor %}
