server:
  directory: "{{ unbound_directory }}"
  chroot: "{{ unbound_config_chroot }}"
{% for l in unbound_config_server %}
{% if l | isdict %}
{% if 'value' in l %}
  {{ l['name'] }}: {{ l['value'] }}
{% elif 'values' in l %}
{% for value in l['values'] %}
  {{ l['name'] }}: {{ value }}
{% endfor %}
{% endif %}
{% else %}
  {{ l }}
{% endif %}
{% endfor %}

remote-control:
  control-enable: {{ unbound_config_remote_control_control_enable }}
{% if unbound_version | version_compare('1.5.2', '<') %}
{# unbound older than 1.5.2 does not have control-use-cert #}
{% else %}
  control-use-cert: {{ unbound_config_remote_control_control_use_cert }}
{% endif %}
{% if unbound_config_remote_control_control_interface %}
  control-interface: {{ unbound_config_remote_control_control_interface }}
{% endif %}
{% if unbound_config_server_key_file %}
  server-key-file: {{ unbound_config_server_key_file }}
{% endif %}
{% if unbound_config_server_cert_file %}
  server-cert-file: {{ unbound_config_server_cert_file }}
{% endif %}
{% if unbound_config_control_key_file %}
  control-key-file: {{ unbound_config_control_key_file }}
{% endif %}
{% if unbound_config_control_cert_file %}
  control-cert-file: {{ unbound_config_control_cert_file }}
{% endif %}
{% for l in unbound_config_remote_control_extra %}
{% if l | isdict %}
{% for value in l['values'] %}
  {{ l['name'] }}: {{ value }}
{% endfor %}
{% else %}
  {{ l }}
{% endif %}
{% endfor %}

{% for zone in unbound_forward_zone %}
forward-zone:
{# place `name` at the top for readability #}
  name: "{{ zone['name'] }}"
{% for k, v in zone | dictsort() %}
{% if k != 'name' %}
{% if v | islist %}
{% for value in v %}
  {{ k }}: "{{ value }}"
{% endfor %}
{% else %}
  {{ k }}: "{{ v }}"
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}

{% for zone in unbound_stub_zone %}
stub-zone:
{# place `name` at the top for readability #}
  name: "{{ zone['name'] }}"
{% for k, v in zone | dictsort() %}
{% if k != 'name' %}
{% if v | islist %}
{% for value in v %}
  {{ k }}: "{{ value }}"
{% endfor %}
{% else %}
  {{ k }}: "{{ v }}"
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
